table {
  border-top: 1px solid black;
  border-right: solid 1px #000;
}

table tr {
  border: none;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

table td {
  box-sizing: border-box;
  border-bottom: solid 1px #000;
  border-left: solid 1px #000;
  padding: .5em;
}